#magazineViewButtonContainer {
  display: none;
}

#magazineViewButtonContainer button span,
#magazineViewButtonContainer .toolbarButton {
  width: auto;
  height: auto;
  margin-left: -50%;
}

#magazineContainer {
  padding-top: 10px;
  text-align: center;
  overflow: hidden;
}

#magazine {
  margin: 0 auto !important;
  text-align: center;
}

#magazine .page {
  background-color: #fff;
}

#mainContainer {
  overflow: hidden;
}
